In [17]:
import pandas as pd

In [18]:
naral = pd.read_csv('data/naral_committee_transactions_2010_2022.csv')
emily = pd.read_csv('data/emilys_list_committee_transactions_2010_2022.csv')
parenthood = pd.read_csv('data/planned_parenthood_committee_transactions_2010_2022.csv')

In [19]:
total = naral.append(emily, ignore_index=True)
total = total.append(parenthood, ignore_index=True)
total.groupby('file_year').sum().sort_values('file_year', ascending=False)

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/4082191038.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = naral.append(emily, ignore_index=True)
/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/4082191038.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total = total.append(parenthood, ignore_index=True)
/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/4082191038.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total.groupby('file_year').sum().sort_values('file_year', ascending=False)

           Unnamed: 0         sum
file_year
2022          4210184  49750199.0
2020          9121817  98219723.0
2018           537938         0.0
2016          1755628  61587951.0
2014          1294126  21932530.0
2012          2084231  27111516.0
2010          1613808   7991993.0

In [20]:
total_2018 = total[total['file_year'] == 2018]

In [21]:
total_2018

,Unnamed: 0,cmte_id,cmte_nm,name,file_year,other_id,sum
816,816,C90015306,NARAL PROCHOICE COLORADO IE COMMITTEE,NaN,2018,NaN,NaN
817,817,C70005129,NARAL PRO-CHOICE MINNESOTA,NaN,2018,NaN,NaN
819,819,C70004213,NARAL PRO-CHOICE MASSACHUSETTS,NaN,2018,NaN,NaN
826,826,C70003892,NARAL PRO-CHOICE NEW HAMPSHIRE,NaN,2018,NaN,NaN
828,828,C70002761,NARAL PRO-CHOICE AMERICA,NaN,2018,NaN,NaN
...,...,...,...,...,...,...,...
8527,6163,C00688432,PLANNED PARENTHOOD ACTION FUND OF THE PACIFIC ...,NaN,2018,NaN,NaN
8528,6164,C90017054,PLANNED PARENTHOOD CENTRAL COAST ACTION FUND,NaN,2018,NaN,NaN
8531,6167,C90017831,FLORIDA ALLIANCE OF PLANNED PARENTHOOD AFFILIA...,NaN,2018,NaN,NaN
8536,6172,C90007543,PLANNED PARENTHOOD OF MN ACTION FUND,NaN,2018,NaN,NaN
8544,6180,C90008194,PLANNED PARENTHOOD: SHASTA-DIABLO ACT,NaN,2018,NaN,NaN

Looking at the PAC summaries

In [26]:
naral_sum = pd.read_csv('data/naral_pac_summary_2010_2022.csv')
emily_sum = pd.read_csv('data/emilys_list_pac_summary_2010_2022.csv')
parenthood_sum = pd.read_csv('data/planned_parenthood_pac_summary_2010_2022.csv')

In [37]:
total_pac = naral_sum.append(emily_sum, ignore_index=True)
total_pac = total_pac.append(parenthood_sum, ignore_index=True)
total_pac.groupby('file_year').sum().sort_values('ttl_receipts', ascending=False)

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/4168147888.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total_pac = naral_sum.append(emily_sum, ignore_index=True)
/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/4168147888.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total_pac = total_pac.append(parenthood_sum, ignore_index=True)
/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/4168147888.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_pac.groupby('file_year').sum().sort_values('ttl_receipts', ascending=False)

,Unnamed: 0,ttl_receipts,trans_from_aff,indv_contrib,other_pol_cmte_contrib,cand_contrib,cand_loans,ttl_loans_received,ttl_disb,tranf_to_aff,...,cand_loan_repay,loan_repay,coh_bop,coh_cop,debts_owed_by,nonfed_trans_received,contrib_to_other_cmte,ind_exp,pty_coord_exp,nonfed_share_exp
file_year,,,,,,,,,,,,,,,,,,,,,
2020,1782,1.651409e+08,13756330.05,95592647.95,15047423.24,0.0,0.0,0.0,1.681639e+08,14951995.00,...,0.0,0.00,8009572.41,6481384.42,603647.16,36880451.51,10171076.81,49391637.72,0.0,1547197.58
2018,9854,1.382813e+08,12799179.89,82977741.14,12247647.78,0.0,0.0,0.0,1.417100e+08,12789714.29,...,0.0,18623.37,7139395.08,7963866.88,162373.50,22292646.62,8084949.18,34906981.69,0.0,1869658.15
2022,602,1.368109e+08,0.00,83178211.64,22308160.99,0.0,0.0,0.0,1.348732e+08,0.00,...,0.0,0.00,6443882.77,8556458.24,602148.60,27564138.01,6973244.97,37334102.97,0.0,1450864.92
2016,15627,1.104135e+08,2556786.21,66774912.22,23036857.24,0.0,0.0,0.0,1.091484e+08,1607675.50,...,0.0,0.00,3479085.07,6786772.81,205727.40,14726564.20,6378643.71,46264152.93,0.0,1813435.15
2014,20612,6.750930e+07,2651790.94,47247546.22,1860149.63,0.0,0.0,0.0,6.996368e+07,2650000.00,...,0.0,0.00,4472656.78,3479085.55,10778.04,13219015.71,2984153.95,12774112.26,0.0,1374473.30
2012,25519,5.532762e+07,2756979.80,41349554.56,122055.00,0.0,0.0,0.0,5.980083e+07,2756979.80,...,0.0,0.00,1630344.87,4368939.32,16677.72,9170588.09,4020883.18,12768473.97,0.0,1132721.87
2010,11826,3.608896e+07,4316.00,26490509.63,343955.00,0.0,0.0,0.0,3.637721e+07,7316.00,...,0.0,750000.00,582156.92,1630344.87,21.38,8010092.03,2236455.26,4387210.89,0.0,4434318.60

In [35]:
total_national_pac = total_pac.loc[total_pac['cmte_nm'].isin(["EMILY'S LIST",'WOMEN VOTE!','PLANNED PARENTHOOD VOTES','NARAL PRO-CHOICE AMERICA','PLANNED PARENTHOOD ACTION FUND INC. PAC','PLANNED PARENTHOOD ACTION FUND INC PAC, DBA PLANNED PARENTHOOD FEDERAL PAC','PLANNED PARENTHOOD ACTION FUND INC. PAC, DBA PLANNED PARENTHOOD FEDERAL PAC'])]

In [36]:
total_national_pac.groupby('file_year').sum().sort_values('ttl_receipts', ascending=False)

/var/folders/hx/m3n3wwr91yg_snnv68ynqsp80000gn/T/ipykernel_87923/3182515336.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_national_pac.groupby('file_year').sum().sort_values('ttl_receipts', ascending=False)

,Unnamed: 0,ttl_receipts,trans_from_aff,indv_contrib,other_pol_cmte_contrib,cand_contrib,cand_loans,ttl_loans_received,ttl_disb,tranf_to_aff,...,cand_loan_repay,loan_repay,coh_bop,coh_cop,debts_owed_by,nonfed_trans_received,contrib_to_other_cmte,ind_exp,pty_coord_exp,nonfed_share_exp
file_year,,,,,,,,,,,,,,,,,,,,,
2020,83,1.559896e+08,13754984.15,90591287.48,11562978.07,0.0,0.0,0.0,1.589612e+08,14951995.00,...,0.0,0.0,6988524.53,5418815.95,491047.39,36880451.51,8352690.58,46968084.69,0.0,1547197.58
2018,174,1.319646e+08,12799179.89,79353088.30,10035129.91,0.0,0.0,0.0,1.326320e+08,12789714.29,...,0.0,0.0,6693118.62,6988524.53,26240.40,22292646.62,7179089.75,33175188.56,0.0,1869658.15
2022,3,1.297158e+08,0.00,78485905.74,20062683.40,0.0,0.0,0.0,1.278651e+08,0.00,...,0.0,0.0,5418815.95,7359516.93,453576.68,27564138.01,5997246.78,36276881.68,0.0,1450864.92
2016,372,1.079641e+08,2556786.21,65936866.82,22884181.00,0.0,0.0,0.0,1.053957e+08,1607675.50,...,0.0,0.0,3287589.53,6693118.62,185550.81,14726564.20,6112978.71,45795853.28,0.0,1813435.15
2014,529,6.556235e+07,2651790.94,46058312.93,1752570.17,0.0,0.0,0.0,6.653756e+07,2650000.00,...,0.0,0.0,4016325.58,3287589.53,10028.04,13219015.71,2662869.95,12373896.24,0.0,1374473.30
2012,698,5.411473e+07,2756979.80,40369819.09,122055.00,0.0,0.0,0.0,5.178636e+07,2756979.80,...,0.0,0.0,1490145.94,4016325.58,16677.72,9170588.09,3317783.18,12768463.28,0.0,1132721.87
2010,861,3.459095e+07,4316.00,25250950.86,116275.00,0.0,0.0,0.0,3.384843e+07,4316.00,...,0.0,750000.0,576590.17,1490145.94,0.00,8003592.03,1650026.26,4065538.93,0.0,4434318.60