# Python and R
Notebook Setup

In [ ]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
import pythonimports
import psycopg2
import pandas as pd

In [ ]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

# Load FEC Data

Data is loaded from this FEC link:

https://www.fec.gov/data/browse-data/?tab=bulk-data

In [ ]:
conn = psycopg2.connect(
    host="postgresfec.cnvthm1pgcw1.us-east-2.rds.amazonaws.com",
    database="fec",
    user="postgresfec",
    password="postgresfec")

cursor = conn.cursor()
print("Database connected successfully")

In [ ]:
print("List of tables in the database; see documentation below:")
print("https://www.fec.gov/data/browse-data/?tab=bulk-data")

In [ ]:
cursor.execute(
    """SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")

for table in cursor.fetchall():
    print(table)

In [ ]:
# Planned Parenthood committee transactions 2022
sql = '''SELECT sum(oe.transaction_amt) 
FROM committee_master cm 
LEFT JOIN operating_expenditures oe 
	ON oe.file_year=cm.file_year AND oe.cmte_id=cm.cmte_id
WHERE cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2022'''
planned_parenthood_operating_expenditures = pd.read_sql(sql, con=conn)
planned_parenthood_operating_expenditures.head(50)

In [ ]:
# Planned Parenthood committee transactions 2010-2022
sql = '''SELECT cm.cmte_id, cm.cmte_nm, ct."name", cm.file_year, ct.other_id, sum(ct.transaction_amt)
FROM committee_master cm 
LEFT JOIN committee_transactions ct ON ct.cmte_id=cm.cmte_id AND ct.file_year=cm.file_year
WHERE cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2022 OR cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2020 OR cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2018 OR cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2016 OR cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2014 OR cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2012 OR cm.cmte_nm LIKE '%PLANNED%PARENT%' AND cm.file_year=2010
GROUP BY cm.cmte_id, cm.cmte_nm, ct."name", ct.other_id, cm.file_year
ORDER BY SUM DESC NULLS LAST;'''
planned_parenthood_committee_transactions = pd.read_sql(sql, con=conn)
planned_parenthood_committee_transactions.head(50)

In [ ]:
planned_parenthood_committee_transactions.to_csv('data/planned_parenthood_committee_transactions_2010_2022.csv')

In [ ]:
# Planned Parenthood committee transactions 2010-2022
sql = '''SELECT cm.cmte_id, cm.cmte_nm, ct."name", cm.file_year, ct.other_id, sum(ct.transaction_amt)
FROM committee_master cm 
LEFT JOIN committee_transactions ct ON ct.cmte_id=cm.cmte_id AND ct.file_year=cm.file_year
WHERE cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2022 OR cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2020 OR cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2018 OR cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2016 OR cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2014 OR cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2012 OR cm.cmte_nm LIKE 'EMILY%LIST%' AND cm.file_year=2010 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2022 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2020 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2018 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2016 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2014 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2012 OR cm.cmte_nm LIKE 'WOMEN%VOTE%' AND cm.file_year=2010
GROUP BY cm.cmte_id, cm.cmte_nm, ct."name", ct.other_id, cm.file_year
ORDER BY SUM DESC NULLS LAST;'''
emilys_list_committee_transactions = pd.read_sql(sql, con=conn)
emilys_list_committee_transactions.head(50)

In [ ]:
emilys_list_committee_transactions.to_csv('data/emilys_list_committee_transactions_2010_2022.csv')

In [ ]:
# Planned Parenthood committee transactions 2010-2022
sql = '''SELECT cm.cmte_id, cm.cmte_nm, ct."name", cm.file_year, ct.other_id, sum(ct.transaction_amt)
FROM committee_master cm 
LEFT JOIN committee_transactions ct ON ct.cmte_id=cm.cmte_id AND ct.file_year=cm.file_year
WHERE cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2022 OR cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2020 OR cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2018 OR cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2016 OR cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2014 OR cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2012 OR cm.cmte_nm LIKE 'NARAL%PRO%' AND cm.file_year=2010 
GROUP BY cm.cmte_id, cm.cmte_nm, ct."name", ct.other_id, cm.file_year
ORDER BY SUM DESC NULLS LAST;'''
naral_committee_transactions = pd.read_sql(sql, con=conn)
naral_committee_transactions.head(50)

In [ ]:
naral_committee_transactions.to_csv('data/naral_committee_transactions_2010_2022.csv')

In [174]:
# Query the database
sql = '''SELECT * 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2022 OR ps.cmte_nm LIKE 'WOMEN%VOTE%' AND ps.file_year=2022 OR ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2020 OR ps.cmte_nm LIKE 'WOMEN%VOTE%' AND ps.file_year=2020 OR ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2018 OR ps.cmte_nm LIKE 'WOMEN%VOTE%' AND ps.file_year=2018'''
planned_parenthood_pac_summary = pd.read_sql(sql, con=conn)
planned_parenthood_pac_summary.head(50)

,cmte_id,cmte_nm,cmte_tp,cmte_dsgn,cmte_filing_freq,ttl_receipts,trans_from_aff,indv_contrib,other_pol_cmte_contrib,cand_contrib,...,coh_bop,coh_cop,debts_owed_by,nonfed_trans_received,contrib_to_other_cmte,ind_exp,pty_coord_exp,nonfed_share_exp,cvg_end_dt,file_year
0,C00193433,EMILY'S LIST,Q,U,M,67819656.38,0.00,37956279.52,119500.00,0.0,...,4040213.90,3619795.37,0.00,27564138.01,1666763.37,0.00,0.0,1450864.92,12/31/2022,2022
1,C00473918,WOMEN VOTE!,O,U,M,34596251.89,0.00,18298760.01,14964435.40,0.0,...,46095.64,77511.40,0.00,0.00,324094.00,29851977.65,0.0,0.00,12/31/2022,2022
2,C00616912,WOMEN VOTE SMART,V,U,Q,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022
3,C00193433,EMILY'S LIST,Q,U,M,80613555.44,0.00,41331060.76,175750.00,0.0,...,3030614.80,4040213.90,0.00,36880451.51,1792680.35,0.00,0.0,1547197.58,12/31/2020,2020
4,C00473918,WOMEN VOTE!,O,U,M,46750932.50,13754984.15,23951450.14,8338920.22,0.0,...,222240.34,46095.64,0.00,0.00,2926382.05,36769794.12,0.0,0.00,12/31/2020,2020
5,C00616912,WOMEN VOTE SMART,V,U,Q,163141.24,0.00,34365.28,0.00,0.0,...,2281.54,37333.03,0.00,0.00,0.00,10872.00,0.0,0.00,12/31/2019,2020
6,C00193433,EMILY'S LIST,Q,U,M,69788540.66,9465.60,45344856.41,226375.00,0.0,...,5384184.15,3030614.80,0.00,22292646.62,2168004.83,0.00,0.0,1869658.15,12/31/2018,2018
7,C00473918,WOMEN VOTE!,O,U,M,40363527.70,12789714.29,15218386.30,6839866.91,0.0,...,131255.22,222240.34,0.00,0.00,2558500.00,28022623.69,0.0,0.00,12/31/2018,2018
8,C00616912,WOMEN VOTE SMART,V,U,Q,168912.15,0.00,19636.35,0.00,0.0,...,6307.93,2281.54,87408.86,0.00,0.00,50400.00,0.0,0.00,12/31/2018,2018
9,C30001523,EMILY'S LIST NON-FEDERAL,E,U,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2018
10,C30001754,WOMEN'S VOICES WOMEN VOTE ACTION FUND,E,U,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2018

In [ ]:
planned_parenthood_pac_summary.to_csv('data/planned_parenthood_pac_summary_2022.csv')

In [ ]:
# Query the database
sql = '''SELECT * 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE '%PLANNED%PARENT%' AND ps.file_year=2022'''
planned_parenthood_pac_summary = pd.read_sql(sql, con=conn)
planned_parenthood_pac_summary.head(50)

In [151]:
# Query the database
sql = '''SELECT sum(ttl_disb) 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE '%NARAL%' AND ps.file_year=2022'''
naral_pro_choice_pac_summary = pd.read_sql(sql, con=conn)
naral_pro_choice_pac_summary.head(50)

          sum
0  1490361.93

In [152]:
# Query the database
sql = '''SELECT sum(ttl_disb) 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2022'''
emilys_choice_pac_summary = pd.read_sql(sql, con=conn)
emilys_choice_pac_summary.head(50)

           sum
0  68240074.91

In [154]:
# Query the database
sql = '''SELECT sum(ttl_disb) 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2020'''
emilys_choice_pac_summary = pd.read_sql(sql, con=conn)
emilys_choice_pac_summary.head(50)

           sum
0  79603956.34

In [155]:
# Query the database
sql = '''SELECT sum(ttl_disb) 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2018'''
emilys_choice_pac_summary = pd.read_sql(sql, con=conn)
emilys_choice_pac_summary.head(50)

           sum
0  72142110.01

In [168]:
# Query the database
sql = '''SELECT ps.cmte_nm ttl_disb sum(ttl_disb)
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'WOMEN%VOTE%' AND ps.file_year=2022 OR ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2020
GROUP BY ps.cmte_nm, ps.file_year'''
emilys_choice_pac_summary = pd.read_sql(sql, con=conn)
emilys_choice_pac_summary.head(50)

DatabaseError: Execution failed on sql 'SELECT ps.cmte_nm ttl_disb sum(ttl_disb)
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'WOMEN%VOTE%' AND ps.file_year=2022 OR ps.cmte_nm LIKE 'EMILY%LIST%' AND ps.file_year=2020
GROUP BY ps.cmte_nm, ps.file_year': syntax error at or near "sum"
LINE 1: SELECT ps.cmte_nm ttl_disb sum(ttl_disb)
                                   ^

In [153]:
# Query the database
sql = '''SELECT * 
FROM pac_summary ps
WHERE ps.cmte_nm LIKE 'EMILY%S%LIST%' AND ps.file_year=2022'''
emilys_list_pac_summary = pd.read_sql(sql, con=conn)
emilys_list_pac_summary.head(50)

,cmte_id,cmte_nm,cmte_tp,cmte_dsgn,cmte_filing_freq,ttl_receipts,trans_from_aff,indv_contrib,other_pol_cmte_contrib,cand_contrib,...,coh_bop,coh_cop,debts_owed_by,nonfed_trans_received,contrib_to_other_cmte,ind_exp,pty_coord_exp,nonfed_share_exp,cvg_end_dt,file_year
0,C00193433,EMILY'S LIST,Q,U,M,67819656.38,0.0,37956279.52,119500.0,0.0,...,4040213.9,3619795.37,0.0,27564138.01,1666763.37,0.0,0.0,1450864.92,12/31/2022,2022

In [ ]:
emilys_list_pac_summary.to_csv('data/emilys_list_pac_summary_2022.csv')

# ggplot example

In [ ]:
%%R

require(tidyverse)
require(ggbeeswarm)
require(ggrepel)

In [ ]:
%%R -i house_senate_current_campaigns -w 1000

df <- house_senate_current_campaigns

ggplot(df) +
    aes(x=ttl_disb, y=NA, alpha=.005, label=cand_name) +
    geom_quasirandom(size=4) +
    geom_label_repel(data=df %>% filter(ttl_disb > 1e+07))

In [ ]:
house_senate_current_campaigns.sort_values(by='ttl_disb', ascending=False)

# close database connections

In [ ]:
# Close the connection
cursor.close()
conn.close()